$unsemantic-ie7-support: false;

//
// For right-to-left languages.
// (Hebrew, Arabic, etc.)
//
$lang-forward: right;
$lang-reverse: left;

@import "partials/unsemantic-vars";
@import "partials/unsemantic-ie-snap";

@include unsemantic-grid-placeholders;
@include unsemantic-grid-base(mobile, desktop);