// `Basic HTML.
//----------------------------------------------------------------------------------------------------

body {
  background: white;
  color: #333;
  text-align: center;
}

a {
  color: blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  padding-top: 20px;
}

.example-block {
  background: #eee;
  font-size: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px 0;
  text-align: center;
}

// `Container.
//----------------------------------------------------------------------------------------------------

.grid-container {
  padding-bottom: 20px;
}

.grid-container > hr {
  margin-left: 10px;
  margin-right: 10px;
}

// `Push & Pull.
//----------------------------------------------------------------------------------------------------

div[class*="push-"] section {
  background: #dec;
}

div[class*="pull-"] section {
  background: #fcd;
}

// `Dynamic area for JS width calculation.
//----------------------------------------------------------------------------------------------------

.dynamic-px-width {
  display: block;
}