// These mixins are intended to be used from:
//
//   * _unsemantic-grid-mobile.sass
//   * _unsemantic-grid-desktop.sass
//
// But could be used in your own styles, via class
// names of your choice. You don't *have* to be
// unsemantic. That's entirely up to you! :)

// `Hide on desktop/mobile.
//----------------------------------------------------------------------------------------------------

%hide
  display: none !important

// `Grid columns.
//----------------------------------------------------------------------------------------------------

%grid-columns
  float: $lang-forward

//
// For 5 through 95 percent.
//

@for $i from 1 through 19
  $num: $i * 5
  $precise: $num * 1%

  %grid-#{$num}
    @extend %grid-columns
    width: $precise

  %prefix-#{$num}
    margin-#{$lang-forward}: $precise

  %suffix-#{$num}
    margin-#{$lang-reverse}: $precise

  %push-#{$num}
    #{$lang-forward}: $precise

  %pull-#{$num}
    #{$lang-forward}: $precise * -1

//
// For one-third and two-thirds.
//

@for $i from 1 through 2
  $num: $i * 33
  $one-third: 1/3
  $decimal: $i * $one-third
  $precise: ($num + $decimal) * 1%

  // Percentage based widths.
  %grid-#{$num}
    @extend %grid-columns
    width: $precise

  // Prefix, to add extra columns before.
  %prefix-#{$num}
    margin-#{$lang-forward}: $precise

  // Suffix, to add extra columns after.
  %suffix-#{$num}
    margin-#{$lang-reverse}: $precise

  // Push & Pull, to rearrange column order (for potential "SEO").
  %push-#{$num}
    #{$lang-forward}: $precise

  %pull-#{$num}
    #{$lang-forward}: $precise * -1

//
// Full width, just line-break.
//

%grid-100
  clear: both
  width: 100%